<?xml version="1.0"?>

<launch>
	<param name="robot_description" command="$(find xacro)/xacro.py $(find alkimia_door)/urdf/alkimia_door.urdf.xacro"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="true"/>
	</node>

	<param name="publish_frequency" value="500"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find alkimia_door)/launch/rviz.rviz" output="screen"/>

</launch>